.container {
    margin: 20px;
    display: grid;
    height: 500px;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: [firstrow] 2.5rem [secondrow] minmax(10px, 200px) [thirdrow] 30px;
    grid-gap: 10px;
    grid-template-areas: "header header header header"
                         "sidebar sidebar main main"
                         "footer footer footer footer";
}

.el1 {
    background: rgba(255, 154, 72, 0.5);
}

.el2 {
    background: rgba(255, 0, 0, 0.5);
    grid-column: 1 / -1;
    grid-row-start: 2;
    grid-row-end: span 1;
    z-index: 2;
}

.el3 {
    background: rgba(0, 128, 0, 0.5);
    grid-column-start: 2;
    grid-column-end: sp-1;
    grid-row-start: firstrow;
    grid-row-end: thirdrow;
}

.el4 {
    background: rgba(0, 4, 255, 0.5);
    grid-area: footer;
}