html {
    height: 100%;
}

body {
    height: 100%;
}

.container {
    display: grid;
    margin: 20px;
    height: 100%;
    grid-template-columns: [firstcol] 1fr [secondcol] 3fr;
    grid-template-rows: 4.5rem auto 4.5rem;
}

.header {
    background-color: lightblue;
    grid-column-start: firstcol;
    grid-column-end: span 2;
}

.main {
    background-color: lightgreen;
    grid-column-start: secondcol;
}

.sidebar {
    background-color: aqua;
    grid-column-start: firstcol;
    grid-column-end: -2;
    grid-row-start: 2;
    grid-row-end: span 1;
}

.footer {
    background-color: pink;
    grid-column-start: firstcol;
    grid-column-end: span 2;
}
